<siat-titles-page title="Requisitos Item">
    <div mat-dialog-content>
        <form [formGroup]="requisitosForm" (ngSubmit)="onSubmit()">
            <h4>Experiencia Profesional:</h4>
            <siat-row>
                <div class="example-full-width">
                    {{requisitoPuesto?.expCargoRequisito}}
                </div>
                <mat-form-field class="custom-input">
                    <mat-label>Cumple con la exp. Profesional</mat-label>
                    <mat-select formControlName="cumpleExpProfesionalIncorporacion">
                        <mat-option [value]="1">Si</mat-option>
                        <mat-option [value]="2">No</mat-option>
                        <mat-option [value]="3">No Corresponde</mat-option>
                    </mat-select>
                    <mat-error *ngIf="requisitosForm.get('cumpleExpProfesionalIncorporacion')?.hasError('required')">La
                        exp. profesional es
                        requerido</mat-error>
                </mat-form-field>
            </siat-row>
            <h4>Experiencia Especifica:</h4>
            <siat-row>
                <div class="example-full-width">
                    {{ requisitoPuesto?.expAreaRequisito }}
                </div>
                <mat-form-field class="custom-input">
                    <mat-label>Cumple con la exp Especifica</mat-label>
                    <mat-select formControlName="cumpleExpEspecificaIncorporacion">
                        <mat-option [value]="1">Si</mat-option>
                        <mat-option [value]="2">No</mat-option>
                        <mat-option [value]="3">No Corresponde</mat-option>
                    </mat-select>
                    <mat-error *ngIf="requisitosForm.get('cumpleExpEspecificaIncorporacion')?.hasError('required')">El
                        respaldo es
                        requerido</mat-error>
                </mat-form-field>
            </siat-row>
            <h4>Experiencia segun el Mando:</h4>
            <siat-row>
                <div class="example-full-width">
                    {{requisitoPuesto?.expMandoRequisito}}
                </div>
                <mat-form-field class="custom-input">
                    <mat-label>Cumple con la exp segun Mando</mat-label>
                    <mat-select formControlName="cumpleExpMandoIncorporacion">
                        <mat-option [value]="1">Si</mat-option>
                        <mat-option [value]="2">No</mat-option>
                        <mat-option [value]="3">No Corresponde</mat-option>
                    </mat-select>
                    <mat-error *ngIf="requisitosForm.get('cumpleExpMandoIncorporacion')?.hasError('required')">El
                        respaldo es
                        requerido</mat-error>
                </mat-form-field>
            </siat-row>
            <h4>Formación:</h4>
            <siat-row>
                <div class="example-full-width">
                    {{requisitoPuesto?.formacionRequisito}}
                </div>
                <mat-form-field class="custom-input">
                    <mat-label>Resultado de Verificación</mat-label>
                    <mat-select formControlName="cumpleFormacionIncorporacion">
                        <mat-option [value]="1">Cumple</mat-option>
                        <mat-option [value]="2">No cumple</mat-option>
                    </mat-select>
                    <mat-error *ngIf="requisitosForm.get('cumpleFormacionIncorporacion')?.hasError('required')">El
                        respaldo es
                        requerido</mat-error>
                </mat-form-field>
            </siat-row>
        </form>
    </div>

    <div mat-dialog-actions>
        <button mat-button (click)="onClose()">Cancelar</button>
        <button mat-button color="primary" type="submit" [disabled]="!requisitosForm.valid"
            (click)="onSubmit()">Guardar</button>
    </div>
</siat-titles-page>