.row {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.contenedor-tabla {
  width: auto;
  overflow-x: auto;
}
.contenedor-tabla table {
  border-collapse: collapse;
  width: 100%;
}
.contenedor-tabla th,
.contenedor-tabla td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.contenedor-tabla th {
  background-color: #f2f2f2;
}
.mr-20 {
  margin-right: 20px;
}
.example-card {
  margin-bottom: 20px;
}
.button-container {
  display: flex;
  justify-content: center;
}
.file-button {
  display: inline-flex;
  padding: 5px 5px;
  background-color: #3c6484;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.file-button:hover {
  background-color: #2a4566;
}
.custom-button {
  display: inline-flex;
  padding-left: 3px;
  align-items: center;
  background-color: #3c6484;
  color: white;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
}
.custom-button:hover {
  background-color: #2a4566;
}

@media screen and (min-width: 1550px) {
  .col-12.col-md-6.col-lg-4.mr-20[style*="width: 30%"] {
    width: 20% !important;
  }
  .col-12.col-md-6.mr-20[style*="width: 70%"] {
    width: 80% !important;
  }
}

.file-button-azul-claro {
  display: inline-flex;
  padding: 5px 5px;
  background-color:  #597389 ;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.file-button-azul-claro:hover {
  background-color: #2a4566;
}
.custom-button-azul-claro {
  display: inline-flex;
  padding-left: 3px;
  align-items: center;
  background-color:  #597389;
  color: white;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
}
.custom-button-azul-claro:hover {
  background-color: #2a4566;
}


.img-archivo {
  width: 40%;
  height: auto;
}

.toolbar-imagen {
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
  position: relative;
}

.img-toolbar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.icon-toolbar {
  color: #254c74;
  position: absolute;
  top: 70%;
  right: 13%;
}

.custom-toolbar {
  height: 35% !important;
  background-color: #fff !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
  display: flex;
  align-items: center;
}

.cont-toolbar {
  display: flex;
  align-items: center;
  width: 50%;
  margin-right: 20px;
  border-right: 2px solid #e2e8f099;
  padding-right: 20px;
}

.custom-div {
  width: 50%;
  margin-right: 20px;
  padding-right: 20px;
}

::ng-deep .mat-tab-header {
  background-color: #fff !important;
}
