<div mat-dialog-content>
    <h3>Detalle de Observación de Evaluación</h3>
    <form [formGroup]="observacionEvaluacionForm" (ngSubmit)="guardarFormulario()">
        <mat-form-field class="custom-textarea">
            <textarea matInput formControlName="observacionDetalleIncorporacion" placeholder="Detalle..."
                rows="2"></textarea>
        </mat-form-field>
    </form>
</div>

<div mat-dialog-actions>
    <button mat-button type="button" (click)="onClose()" class="grey-button">Cancelar</button>
    <button mat-button color="primary" (click)="guardarFormulario()" class="custom-primary-button">Guardar</button>
</div>
