<div class="login-container" fxLayout="row" fxLayoutAlign="center center"
    style="--opacidad-negro: 0.5; background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url('assets/favicon/SIN-impuestos.jpg'); background-size: cover; background-position: center;">
    <form [formGroup]="loginForm" fxFlex="30%" fxFlex.sm="50%" fxFlex.xs="90%">
        <mat-card class="wrapper">
            <div style="text-align: center;">
                <img src="assets/favicon/logo-sin.png" alt="Logo"
                    style="max-width: 100%; height: auto; margin-bottom: 10px;">
                <mat-card-title style="margin-bottom: 15px; color:black;">¡Bienvenido/a!</mat-card-title>
            </div>
            <mat-card-content>
                <mat-form-field class="full-width" style="margin-bottom: 10px;">
                    <input id="usernameInput" class="autocompleted-input" matInput placeholder="Nombre de usuario"
                        formControlName="username" autocomplete="username" type="text">
                    <mat-error id="requiredUsernameError" *ngIf="loginForm.controls['username'].hasError('required')">
                        Nombre de usuario es
                        <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width" style="margin-bottom: 10px;">
                    <input id="passwordInput" matInput placeholder="Contraseña" formControlName="password"
                        type="password" autocomplete="current-password">
                    <mat-error id="requiredPasswordError" *ngIf="loginForm.controls['password'].hasError('required')">
                        Contraseña es
                        <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <div class="full-width" style="margin-bottom: 20px;">
                    <mat-slide-toggle formControlName="rememberMe">Recuerdor mi nombre de usuario</mat-slide-toggle>
                </div>
            </mat-card-content>
            <mat-card-actions class="login-actions">
                <button mat-raised-button id="login" class="myBoton" [disabled]="loginForm.invalid || loading"
                    (click)="login()">Aceptar</button>
                <button mat-button id="resetPassword" (click)="resetPassword()" type="button">Restablecer la
                    contraseña</button>
            </mat-card-actions>
        </mat-card>
        <mat-progress-bar *ngIf="loading" mode="indeterminate" class="progress-bar"></mat-progress-bar>
    </form>
</div>