.custom-input {
  width: 90px;
}

.custom-input-demas {
  width: 150px;
}
.input-file-tree{
  width: 120px;
}
.custom-width-fecha {
  width: 100px !important;
  margin: 10px;
}

.custom-width-fecha .date-picker-container {
  display: flex;
  align-items: center;
}

.custom-width-fecha .mat-form-field-wrapper {
  flex: 1;
}

.custom-datepicker-toggle {
  margin-top: -25px;
}