<siat-titles-page>
    <form (ngSubmit)="login()">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>

        <button type="submit">Login</button>

        <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
        </div>
    </form>
</siat-titles-page>