<div mat-dialog-content class="dialog-content">
    <h2 class="dialog-title">Editar rol de {{ nombrePersona || 'Nombre no disponible' }}</h2>
    <form class="form-container">
        <h3>Listado de Roles</h3>
        <div *ngFor="let role of listRoles">
            <label>
                <input type="checkbox" [value]="role.id" [checked]="selectedRoles.includes(role.id)" (change)="toggleRoleSelection(role.id)">
                {{ role.name }}
            </label>
        </div>
        <div class="button-container">
            <button mat-flat-button color="primary" class="button" (click)="guardarRoles()">Guardar</button>
            <button mat-flat-button color="warn" (click)="onClose()" class="button">Cerrar</button>
        </div>
    </form>
  </div>
  