<div mat-dialog-content>
  <h2>Datos de la Persona</h2>
  <form [formGroup]="personaForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <!-- CI -->
      <mat-form-field>
        <mat-label>CI</mat-label>
        <input matInput formControlName="ciPersona" (keydown.enter)="getDataPersonaByCi()">
        <mat-error *ngIf="personaForm.get('ciPersona')?.hasError('required')">El CI es requerido</mat-error>
      </mat-form-field>

      <!-- Exp -->
      <mat-form-field class="custom-input">
        <mat-label>Complemento.</mat-label>
        <input matInput formControlName="expPersona">
      </mat-form-field>

      <!-- Género -->
      <mat-form-field class="custom-input">
        <mat-label>Género</mat-label>
        <mat-select formControlName="generoPersona">
          <mat-option value="F">Femenino</mat-option>
          <mat-option value="M">Masculino</mat-option>
        </mat-select>
        <mat-error *ngIf="personaForm.get('generoPersona')?.hasError('required')">El genero es requerido</mat-error>
      </mat-form-field>
    </div>

    <div class="container">
      <!-- Nombre -->
      <mat-form-field>
        <mat-label>Nombres</mat-label>
        <input matInput formControlName="nombrePersona">
        <mat-error *ngIf="personaForm.get('nombrePersona')?.hasError('required')">El nombre es requerido</mat-error>
      </mat-form-field>

      <!-- Primer Apellido -->
      <mat-form-field class="input-file-tree">
        <mat-label>Primer Apellido</mat-label>
        <input matInput formControlName="primerApellidoPersona">
      </mat-form-field>

      <!-- Segundo Apellido -->
      <mat-form-field class="input-file-tree">
        <mat-label>Segundo Apellido</mat-label>
        <input matInput formControlName="segundoApellidoPersona">
      </mat-form-field>
    </div>

    <div class="container">
      <!-- Fecha de nacimiento-->
      <mat-form-field class="custom-width-fecha">
        <mat-label>Fch. Nacimiento</mat-label>
        <div class="date-picker-container">
          <input matInput [matDatepicker]="picker" formControlName="fchNacimientoPersona" />
          <mat-datepicker-toggle matSuffix [for]="picker" class="custom-datepicker-toggle"></mat-datepicker-toggle>
        </div>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <!-- Conclusion de estudios-->
      <mat-form-field class="custom-width-fecha">
        <mat-label>Conclu. de Estudios</mat-label>
        <input matInput formControlName="gestionFormacion">
        <mat-error *ngIf="personaForm.get('gestionFormacion')?.hasError('required')">La gestion es
          requerida</mat-error>
      </mat-form-field>

      <!-- Grado Académico -->
      <mat-form-field>
        <mat-label>Grado Académico</mat-label>
        <input matInput formControlName="gradoAcademico" [matAutocomplete]="autoGradoAcademico">
        <mat-autocomplete #autoGradoAcademico="matAutocomplete">
          <mat-option *ngFor="let ga of listGradosAcademico" [value]="ga.nombreGradoAcademico">
            {{ga.nombreGradoAcademico}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="container-formacion">
      <!-- Área de Profesión -->
      <mat-form-field class="custom-input-formacion">
        <mat-label>Área de Formación</mat-label>
        <input matInput formControlName="areaFormacion" [matAutocomplete]="autoAreaFormacion">
        <mat-autocomplete #autoAreaFormacion="matAutocomplete">
          <mat-option *ngFor="let af of listAreasFormacion" [value]="af.nombreAreaFormacion">
            {{af.nombreAreaFormacion}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="personaForm.get('areaFormacion')?.hasError('required')">El área de profesión es
          requerida</mat-error>
      </mat-form-field>

      <!-- Institución de Estudios -->
      <mat-form-field class="custom-input-formacion">
        <mat-label>Institución de Estudios</mat-label>
        <input matInput formControlName="institucion" [matAutocomplete]="autoInstitucion">
        <mat-autocomplete #autoInstitucion="matAutocomplete">
          <mat-option *ngFor="let i of listInstituciones" [value]="i.nombreInstitucion">
            {{i.nombreInstitucion}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="personaForm.get('institucion')?.hasError('required')">El instituto de estudios es
          requerido</mat-error>
      </mat-form-field>
    </div>


    <!--Imagenes
        <mat-form-field>
          <mat-label>Seleccionar imagen</mat-label>
          <input matInput placeholder="Seleccione un archivo" readonly>
          <mat-icon matSuffix (click)="fileInput.click()">attach_file</mat-icon>
          <input type="file" #fileInput style="display: none;">
        </mat-form-field>-->
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClose()">Cancelar</button>
  <button mat-button type="submit" [disabled]="!personaForm.valid" (click)="onSubmit()">Guardar</button>
</div>