.custom-input {
  width: 140px;
}
.custom-input-demas {
  width: 150px;
}
.input-file-tree {
  width: 140px;
}
.custom-width-fecha {
  width: 140px !important;
}
.custom-width-fecha .date-picker-container {
  display: flex;
  align-items: center;
}
.custom-width-fecha .mat-form-field-wrapper {
  flex: 1;
}
.custom-datepicker-toggle {
  margin-top: -25px;
}
mat-form-field {
  margin-right: 20px !important;
  margin-bottom: 25x !important;
}
.container {
  display: flex;
  align-items: center;
}
.container-formacion{
  display: flex;
  align-items: center; 
}
.custom-input-formacion{
  width: 250px;
}
