<!-- <siat-loading></siat-loading> -->
<siat-app title="" skin="skin4">
    <div user>
        <siat-expansion-panel title="Dato de adicionales">
            <div fxLayout="column" fxLayoutGap="10px">
                <div fxLayout="column">
                    <mat-panel-title>Propiedad</mat-panel-title>
                    <mat-panel-description>Valor</mat-panel-description>
                </div>
            </div>
        </siat-expansion-panel>
    </div>
    <div footer fxLayout="column">
        <siat-footer>
            <div contacts fxLayoutGap="10px">
                <h4 fxLayout="column" fxLayoutAlign="start start" style="padding-top: 12px; padding-bottom: 12px;">DATOS DE CONTACTO</h4>
                <siat-contact icon="fa-solid fa-phone" title="Telf. Contacto" description="800-10-3444 (Int. 104)">
                </siat-contact>
                <siat-contact icon="fa-solid fa-envelope" title="Correo" description="siatsoporte@impuestos.gob.bo">
                </siat-contact>
            </div>
            <div links fxLayoutGap="10px">
                <h4 fxLayout="column" fxLayoutAlign="start start" style="padding-top: 12px; padding-bottom: 12px;">ENLACES</h4>
                <siat-link url="https://www.youtube.com/" description="Aduana Nacional"></siat-link>
                <siat-link description="Servicio de Identificacion"></siat-link>
            </div>
        </siat-footer>
    </div>
    <!-- <siat-loading-page style="width: 100%;"></siat-loading-page> -->
    <router-outlet></router-outlet>
</siat-app>