<siat-titles-page title="Incorporacion">
  <button mat-raised-button color="primary" (click)="agregarFila()">
    Agregar Fila
  </button>

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. Mia"
      #input
    />
  </mat-form-field>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
        <td mat-cell *matCellDef="let element">
          <select (change)="accionSeleccionada($event)">
            <option value="accion1">Acción 1</option>
            <option value="accion2">Acción 2</option>
          </select>
        </td>
      </ng-container>

      <ng-container matColumnDef="progress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>PERSONA</th>
        <td mat-cell *matCellDef="let row">
          <div style="display: flex; align-items: center">
            <img
              src="ruta/a/la/imagen_de_pedro.jpg"
              alt="Pedro"
              style="
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 10px;
              "
            />
            <span>{{ row.progress }}</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ITEM</th>
        <td mat-cell *matCellDef="let row">
          <input
            type="text"
            [(ngModel)]="userName"
            placeholder="Introduce tu nombre"
          />
        </td>
      </ng-container>

      <ng-container matColumnDef="cambioItem">
        <th mat-header-cell *matHeaderCellDef>CAMBIO DE ITEM</th>
        <td mat-cell *matCellDef="let row">
          <input
            type="text"
            [(ngModel)]="row.cambioItem"
            placeholder="Cambio de Item"
          />
        </td>
      </ng-container>

      <ng-container matColumnDef="fruit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>RESPONSABLE</th>
        <td mat-cell *matCellDef="let row">
          <div style="display: flex; align-items: center">
            <img
              src="ruta/a/la/imagen_de_pedro.jpg"
              alt="Pedro"
              style="
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 10px;
              "
            />
            <span>{{ row.fruit }}</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="cumpleRequisitos">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          CUMPLE REQUISITOS
        </th>
        <td mat-cell *matCellDef="let row">Cumple</td>
      </ng-container>

      <ng-container matColumnDef="notaMinuta">
        <th mat-header-cell *matHeaderCellDef>NOTA/MINUTA</th>
        <td mat-cell *matCellDef="let row">
          <input type="text" [(ngModel)]="row.notaMinuta.hp" placeholder="HP" />
          <input
            type="text"
            [(ngModel)]="row.notaMinuta.cite"
            placeholder="CITE"
          />
          <input
            type="text"
            [(ngModel)]="row.notaMinuta.codigo"
            placeholder="Código"
          />
          <input type="date" [(ngModel)]="row.notaMinuta.fechaInicio" />
          <input type="date" [(ngModel)]="row.notaMinuta.fechaFin" />
        </td>
      </ng-container>

      <ng-container matColumnDef="informe">
        <th mat-header-cell *matHeaderCellDef>INFORME</th>
        <td mat-cell *matCellDef="let row">
          <input
            type="text"
            [(ngModel)]="row.informe.cite"
            placeholder="CITE"
          />
          <input type="date" [(ngModel)]="row.informe.fecha" />
        </td>
      </ng-container>

      <ng-container matColumnDef="memorandum">
        <th mat-header-cell *matHeaderCellDef>MEMORANDUM</th>
        <td mat-cell *matCellDef="let row">
          <input
            type="text"
            [(ngModel)]="row.memorandum.cite"
            placeholder="CITE"
          />
          <input
            type="text"
            [(ngModel)]="row.memorandum.codigo"
            placeholder="Código"
          />
          <input type="date" [(ngModel)]="row.memorandum.fecha" />
        </td>
      </ng-container>

      <ng-container matColumnDef="rap">
        <th mat-header-cell *matHeaderCellDef>RAP</th>
        <td mat-cell *matCellDef="let row">
          <input type="text" [(ngModel)]="row.rap.cite" placeholder="CITE" />
          <input
            type="text"
            [(ngModel)]="row.rap.codigo"
            placeholder="Código"
          />
          <input type="date" [(ngModel)]="row.rap.fecha" />
        </td>
      </ng-container>

      <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row; let i = index">
          <button mat-icon-button color="warn" (click)="eliminarFila(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</siat-titles-page>
