<siat-titles-page title="Incorporación">
  <div class="container">
    <mat-form-field class="medium">
      <mat-label>Buscar por nombre</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input />
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="agregarFila()"><i class="fa fa-plus" aria-hidden="true"></i>
      Nuevo</button>
  </div>
  <div class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="main-table">
      <ng-container matColumnDef="id" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>
  
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field class="custom-width-acciones">
            <mat-label>Seleccione una opción</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of foods" [value]="food.value">{{ food.viewValue }}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="itemNuevo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ITEM</th>
        <td mat-cell *matCellDef="let row">
          <form class="example-form">
            <mat-form-field class="custom-width">
              <mat-label>Item</mat-label>
              <input type="number" matInput [formControl]="itemNuevoFormControl" placeholder="Ex. 1">
              <mat-error *ngIf="itemNuevoFormControl.hasError('required')">El item es requerido</mat-error>
              <mat-error *ngIf="itemNuevoFormControl.hasError('pattern')">
                El item debe ser un número del 1 al 20000
              </mat-error>
            </mat-form-field>
          </form>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="itemActual">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CAMBIO DE ITEM</th>
        <td mat-cell *matCellDef="let row">
          <form class="example-form">
            <mat-form-field class="custom-width">
              <mat-label>Cambio de Item</mat-label>
              <input type="number" matInput [formControl]="itemActualFormControl" placeholder="Ex. 1">
              <mat-error *ngIf="itemActualFormControl.hasError('pattern')">
                El item actual debe ser un número del 1 al 20000
              </mat-error>
            </mat-form-field>
          </form>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="persona">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>PERSONA</th>
        <td mat-cell *matCellDef="let row">
          <div class="example-form-persona">
            <img src="./assets/images/admin.jpg" alt="Pedro" class="persona-img" />
            <span>Nombre de la Persona</span>
          </div>
        </td>
      </ng-container>
      
      <div matColumnDef="scrollColumns" class="scroll-columns">
        <ng-container matColumnDef="responsable">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>RESPONSABLE</th>
          <td mat-cell *matCellDef="let row">
            <div class="example-form-persona">
              <img src="./assets/images/admin.jpg" alt="Pedro" class="persona-img" />
              <span>Nombre del Responsable</span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            ESTADO
          </th>
          <td mat-cell *matCellDef="let row">
            <div class="custom-width">
              <span>Con Registro</span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="cumpleRequisitos">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            CUMPLE REQUISITOS
          </th>
          <td mat-cell *matCellDef="let row" (mouseover)="abrirModalRegistroRequisitos()">Cumple</td>
        </ng-container>

        <ng-container matColumnDef="notaMinuta">
          <th mat-header-cell *matHeaderCellDef>NOTA/MINUTA</th>
          <td mat-cell *matCellDef="let row">
            <div class="example-form-inputs">
              <mat-form-field class="custom-width">
                <mat-label>Cite</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field class="custom-width">
                <mat-label>Codigo</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field class="custom-width-fecha">
                <mat-label>Fecha</mat-label>
                <div class="date-picker-container">
                  <input matInput [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker"
                    class="custom-datepicker-toggle"></mat-datepicker-toggle>
                </div>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="custom-width-fecha">
                <mat-label>Fch. Recep. Nota</mat-label>
                <div class="date-picker-container">
                  <input matInput [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker"
                    class="custom-datepicker-toggle"></mat-datepicker-toggle>
                </div>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="informe">
          <th mat-header-cell *matHeaderCellDef>INFORME</th>
          <td mat-cell *matCellDef="let row">
            <form class="example-form">
              <div class="example-form-inputs">
                <mat-form-field class="custom-width">
                  <mat-label>Cite</mat-label>
                  <input matInput>
                </mat-form-field>
                <mat-form-field class="custom-width-fecha">
                  <mat-label>Fecha</mat-label>
                  <div class="date-picker-container">
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"
                      class="custom-datepicker-toggle"></mat-datepicker-toggle>
                  </div>
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </form>
          </td>
        </ng-container>

        <ng-container matColumnDef="memorandum">
          <th mat-header-cell *matHeaderCellDef>MEMORANDUM</th>
          <td mat-cell *matCellDef="let row">
            <div class="example-form-inputs">
              <mat-form-field class="custom-width">
                <mat-label>Cite</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field class="custom-width">
                <mat-label>Codigo</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field class="custom-width-fecha">
                <mat-label>Fecha</mat-label>
                <div class="date-picker-container">
                  <input matInput [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker"
                    class="custom-datepicker-toggle"></mat-datepicker-toggle>
                </div>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="rap">
          <th mat-header-cell *matHeaderCellDef>RAP</th>
          <td mat-cell *matCellDef="let row">
            <div class="example-form-inputs">
              <mat-form-field class="custom-width">
                <mat-label>Cite</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field class="custom-width">
                <mat-label>Codigo</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field class="custom-width-fecha">
                <mat-label>Fecha</mat-label>
                <div class="date-picker-container">
                  <input matInput [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker"
                    class="custom-datepicker-toggle"></mat-datepicker-toggle>
                </div>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="eliminar">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row; let i = index">
            <button mat-icon-button color="warn" (click)="eliminarFila(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
      </div>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</siat-titles-page>