.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}
.form-row mat-form-field {
  flex: 1;
  margin-bottom: 10px;
}
.date-picker-field {
  display: flex;
  align-items: center;
  width: 100%; 
  max-width: 100px;
}

.date-picker-field mat-datepicker-toggle {
  margin-left: auto;
}
.mat-datepicker-toggle {
  font-size: 24px;
}
.example-form-field .mat-icon-button mat-icon {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.54);
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.container-header h3 {
  margin: 0;
  text-align: center;
  font-weight: bold;
}
.mat-icon {
  cursor: pointer;
}
.puesto-actual,
.puesto-nuevo {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
  margin-bottom: 20px;
}
.puesto-actual h4,
.puesto-nuevo h4 {
  color: #333;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}
.puesto-actual p,
.puesto-nuevo p {
  margin-bottom: 8px;
  font-size: 0.9em;
}
.puesto-actual b,
.puesto-nuevo b {
  font-weight: bold;
}
.puesto-actual span,
.puesto-nuevo span {
  color: red;
  font-weight: bold;
  margin: 5px;
}
.input-width {
  width: 35%; 
}
.input-width-dias {
  width: 10%; 
}
.example-full-width {
  width: 100%;
}
.date-width {
  width: 10%; 
  margin-right: 20px;
}
.button-primary {
  background-color: #012e58;
  color: white;
  margin: 5px;
}
.button-gray {
  background-color: gray;
  color: white;
  margin: 5px;
}