.contenedor-tabla {
  width: auto;
  overflow-x: auto;
}
.contenedor-tabla table {
  border-collapse: collapse;
  width: 100%;
}

.contenedor-tabla th,
.contenedor-tabla td {
  padding: 8px; 
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.contenedor-tabla th {
  background-color: #f2f2f2;
}
